
#yith-wcwl-popup-message {
    color: $color-default;
    border: 3px solid #ccc;
    background: #fff;
    font-weight: $font-weight-semibold;
    line-height: 1.5;
    padding: 15px 20px;
    width: 250px;
    margin-left: -125px !important;
}